<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><{$smarty.get.col}></title>
    <link rel="stylesheet" href="style/h_reset.css" />
    <link rel="stylesheet" href="style/edit.css" />
    <script type="text/javascript" src="js/jquery-1.10.2.js"></script>
    <script src="plus/ckeditor/ckeditor.js"></script>
</head>
<body>

<!---------------------------------------------------------------------------------------->

<!--部分说明-->
<div class="sRule" style="display: none;">
    <ul>
        <ol>
            <i style="background:url(style/imgs/i_quit.png) no-repeat;"></i>
            <p>：日期为绿字的是值得纪念的好日子</p>
        </ol>
        <ol>
            <i style="background:url(style/imgs/i_quit.png) no-repeat;"></i>
            <p>：日期为蓝字的是值得纪念的坏日子</p>
        </ol>
        <ol>
            <i style="background:url(style/imgs/i_quit.png) no-repeat;"></i>
            <p>：正文黄底部分为关键字</p>
        </ol>
        <ol>
            <i style="background:url(style/imgs/i_quit.png) no-repeat;"></i>
            <p>：正文红字加粗部分为未来有用的信息</p>
        </ol>
        <ol>
            <i style="background:url(style/imgs/i_quit.png) no-repeat;"></i>
            <p>：正文灰字部分为无用信息</p>
        </ol>
    </ul>
</div>



<input type="hidden" id="col" value="<{$smarty.get.col}>" />
<div class="wrapNav">
    <!--导航-->
    <div class="sNav">
        <li data-col="index"><a href="index.php">首页</a></li>
        <li data-col="note"><a href="index.php?act=list&col=note">随笔</a></li>
        <li data-col="material"><a href="index.php?act=list&col=material">题材</a></li>
        <li data-col="topic"><a href="index.php?act=list&col=topic">主题</a></li>
        <li data-col="website"><a href="index.php?act=list&col=website">网址</a></li>
        <li data-col="diary"><a href="index.php?act=list&col=diary">日志</a></li>
    </div>
</div>
<script>
$(function(){
    //导航.on
    var col=$("#col").val();
    $("[data-col='"+col+"']").addClass("on").siblings().removeClass("on");
});
</script>

<form class="sForm" method="post" action="index.php?col=<{$smarty.get.col}>">

    
    <div class="leftCol">

        <div class="infos">
            <{if $Fields.update_time}>
            <ol>
                <h5>最后更新：</h5>
                <p><{$rsedit.update_time}></p>
            </ol>
            <{/if}>
            <{if $Fields.input_time}>
            <ol>
                <h5>创建时间：</h5>
                <p><{$rsedit.input_time}></p>
            </ol>
            <{/if}>
        </div>

        <!--标题-->
        <{if $Fields.ttl}>
        <div class="sTtl">
            <input class="name" type="text" name="ttl" value="<{if $smarty.get.col=="diary" && !$rsedit.ttl}><{$date}><{else}><{$rsedit.ttl}><{/if}>" />
        </div>
        <{/if}>

        <!--描述-->
        <{if $Fields.description}>
        <div class="sTtl">
            <textarea class="desc" name="description"><{$rsedit.description}></textarea>
        </div>
        <{/if}>
        

        <!--正文-->
        <{if $Fields.content}>
        <div class="sEditor">
            <pre id="pre_content" name="pre_content" style="display:none;">
            <{$rsedit.content}>
            </pre>
            <textarea id="content" name="content" placeholder="Type your text here...">
            </textarea>
            <script>
                //编辑器
                var content = CKEDITOR.replace('content',{ allowedContent: true });
                content.setData($("#pre_content").html());
            </script>
        </div>
        <{/if}>
        <!--网址-->
        <{if $Fields.website}>
        <div class="blankTool"></div>
        <div class="sWebsite">
            <textarea style="width:94%; padding:10px 3%; height: 200px;" id="website" name="website"><{$rsedit.website}></textarea>
        </div>
        <{/if}>
    </div>

    <div class="rightCol">

        <{if $Fields.bCat!=""}>
        <div class="bCat l_r">
            <h5>大分类：</h5>
            <input class="input" type="text" name="bCat" value="<{$rsedit.bCat}>" />
            <div class="def">
                <a class="key">选择</a>
                <ol>
                    <{section name=list loop=$bCats}>
                    <li><{$bCats[list].bCat}></li>
                    <{/section}>
                </ol>
            </div>
        </div>
        <{/if}>

        <{if $Fields.topic_id!=""}>
        <div class="topic l_r">
            <h5>topic ID：</h5>
            <input class="input" type="number" name="topic_id" value="<{$rsedit.topic_id}>" />
        </div>
        <{/if}>

        <{if $Fields.topic_sort!=""}>
        <div class="topic l_r">
            <h5>topic 排序：</h5>
            <input class="input" type="number" name="topic_sort" value="<{$rsedit.topic_sort}>" />
        </div>
        <{/if}>

        <{if $Fields.recom!=""}>
        <input type="hidden" id="recom" value="<{$rsedit.recom}>" />
        <div class="l_r">
            <h5>是否推荐到首页：</h5>
            <ol class="radio">
                <label for="recom-1"><input id="recom-1" type="radio" name="recom" value="1" />推荐</label>
                <label for="recom-0"><input id="recom-0" type="radio" name="recom" value="0" />不推荐</label>
            </ol>
            <script>
                $(function(){
                    var recom=$("#recom").val();
                    if(recom=="1"){ 
                        $("#recom-1").attr("checked","checked");
                        $("#recom-1").parent().addClass("on");
                    }
                    else{ 
                        $("#recom-0").attr("checked","checked");
                        $("#recom-0").parent().addClass("on");
                    }
                });
            </script>
        </div>
        <{/if}>

        <!-- <{if $Fields.sCat}>
        <div class="sCat l_r">
            <h5>小分类：</h5>
            <input class="input" type="text" name="sCat" value="<{$rsedit.sCat}>" />
            <div class="def">
                <a class="key">选择</a>
                <ol>
                    <{section name=list loop=$sCats}>
                    <li><{$sCats[list].sCat}></li>
                    <{/section}>
                </ol>
            </div>
        </div>
        <{/if}>

        <{if $Fields.attr}>
        <div class="sLabel l_r">
            <h5>属性：</h5>
            <input class="input" type="text" name="attr" value="<{$rsedit.attr}>" />
            <div class="def">
                <a class="key">选择</a>
                <ol>
                    <{section name=list loop=$attrs}>
                    <li><{$attrs[list].attr}></li>
                    <{/section}>
                </ol>
            </div>
        </div>
        <{/if}> -->

        <{if $Fields.keyword}>
        <div class="sLabel l_r">
            <h5>关键字：</h5>
            <input class="input" type="text" name="keyword" value="<{$rsedit.keyword}>" />
            <div class="def">
                <a class="key">选择</a>
                <ol>
                    <{section name=list loop=$keywords}>
                    <li><{$keywords[list].keyword}></li>
                    <{/section}>
                </ol>
            </div>
        </div>
        <{/if}>

        <{if $Fields.mark}>
        <input type="hidden" id="mark" value="<{$rsedit.mark}>" />
        <div class="sMark l_r">
            <h5>标题颜色：</h5>
            <ol class="radio">
                <{section name=list loop=$marks}>
                    <label for="<{$marks[list].mark}>"><input id="<{$marks[list].mark}>" type="radio" name="mark" value="<{$marks[list].mark}>" /><{$marks[list].zh}></label>
                <{/section}>
                <{if $rsedit.mark}>
                    <script>var mark_on=$("#mark").val(); $("#"+mark_on).attr("checked","checked").parent().addClass("on");</script>
                <{else}>
                    <{if $smarty.get.col=="diary"}>
                    <script>$(function(){ $("#black").attr("checked","checked").parent().addClass("on"); });</script>
                    <{/if}>
                    <{if $smarty.get.col=="material"}>
                    <script>$(function(){ $("#red").attr("checked","checked").parent().addClass("on"); });</script>
                    <{/if}>
                    <{if $smarty.get.col=="note"}>
                    <script>$(function(){ $("#red").attr("checked","checked").parent().addClass("on"); });</script>
                    <{/if}>
                    <{if $smarty.get.col=="website"}>
                    <script>$(function(){ $("#red").attr("checked","checked").parent().addClass("on"); });</script>
                    <{/if}>
                    <{if $smarty.get.col=="topic"}>
                    <script>$(function(){ $("#black").attr("checked","checked").parent().addClass("on"); });</script>
                    <{/if}>
                <{/if}>
            </ol>
        </div>
        <{/if}>

        <{if $smarty.get.id}>
        <input class="sSubmit" type="submit" value="修改"  />
        <input type="hidden" name="act" value="modify" />
        <input type="hidden" name="id" value="<{$smarty.get.id}>" />
        <{else}>
        <input class="sSubmit" type="submit" value="保存"  />
        <input type="hidden" name="act" value="save" />
        <{/if}>

    </div>

</form>



<div id="val_mark" style="display:none"><{$rsedit.mark}></div>
<script>
$(function(){
    //单选
    $(".radio label").click(function(){
        $(this).addClass("on").siblings().removeClass("on");
    });
    //分类选择下拉
    $(".l_r .key").on("click",function(){
        $(this).siblings("ol").toggle();
    });
    $(".l_r ol").on("click","li",function(){
        var val_cur=$(this).text();
        $(this).parents(".l_r").find(".input").val(val_cur);
        $(this).parents("ol").hide();
    });
    $(".l_r.bCat").on("click","ol li",function(){
        var bCat=$(this).text();
        var submitData={
            'bCat':bCat,
            'act':"sCatDrop"
        }
        $.post("index.php",submitData,function(data){
            var data = eval("(" + data + ")");
            //console.log(data);
            var htmls='';
            for(var i=0;i<data.length;i++){
                var html='<li>'+data[i]["sCat"]+'</li>';
                htmls+=html;
            };
            $(".sCat.l_r ol").html(htmls);
        });
    });
});
</script>



</body>
</html>
