@charset "utf-8";
/* CSS Document */



/**************************************global*******/

.wrap{ width:1200px; margin-left:auto; margin-right:auto;}

a:hover{ color:#ff3c3c;}
.zs{ color:#ff3c3c;}
.zsAH a:hover,.zsAH .on a,.zsAH a.on{ color:#e43a3d!important;}
.zsAH a:hover *,.zsAH .on a *,.zsAH a.on *{ color:#e43a3d!important;}
.zd{ background-color:#ff3c3c; color:#fff;}
.zd:hover{ color:#fff;}
.zd2{ background-color:#bc1f22;}
.zb{ border-color:#ff3c3c;}


/*浮动*/
.fl,.lt{ float:left;}
.fr,.rt{ float:right;}
.flLi,.flDl,.flA{ overflow:hidden; _zoom:1;}
.flLi li,.flDl dl,.flA a{ float:left;}
.overFl{ overflow:hidden; _zoom:1;}
.overFl > *{ float:left; margin-right:8px;}
.overFr{ overflow:hidden; _zoom:1;}
.overFr > *{ float:right; margin-left:8px;}
.clr{ *display: inline-block;}
.clr:after{ content:"."; display:block; height:0; clear:both; visibility:hidden;}
.allFl{ overflow:hidden; _zoom:1;}
.allFl > *{ float:left;}


/*文本*/
.f9,.f9_ *{ font-size:9px;}
.f10,.f10_ *{ font-size:10px;}
.f11,.f11_ *{ font-size:11px;}
.f12,.f12_ *{ font-size:12px;}
.f14,.f14_ *{ font-size:14px;}
.f15,.f15_ *{ font-size:15px;}
.f16,.f16_ *{ font-size:16px;}
.f18,.f18_ *{ font-size:18px;}
.f26{ font-size:26px;}

.lh16{ line-height:16px;}
.lh20{ line-height:20px;}
.lh30{ line-height:30px;}
.lh40{ height:40px; line-height:40px; overflow:hidden;}

.hlh30{ height:30px; line-height:30px; overflow:hidden;}
.hlh35{ height:35px; line-height:35px; overflow:hidden;}
.hlh40{ height:40px; line-height:40px; overflow:hidden;}

.h36{ height:36px; line-height:18px; overflow:hidden;}
.h42{ height:42px; line-height:21px; overflow:hidden;}

.lineT{ border-top:#ddd 1px solid;}
.lineB{ border-bottom:#ddd 1px solid;}
.line{ border:#ddd 1px solid;}

.in5{ text-indent:5px;}
.in10{ text-indent:10px;}

.bold{ font-weight:bold;}
.txtL{ text-align:left;}
.txtR{ text-align:right;}


/*颜色*/
mark{ color:#ff3c3c; font-weight:bold;}
em,.em{ color:#ff3c3c;}
.red{ color:#e60012;}
.light,s{ color:#aaa;}
.grey{ color:#888;}
.white{ color:#fff;}
.blk{ color:#333;}
.blk0{ color:#000;}
.orange{ color:#ff7802;}

.whiteD{ background-color:#fff;}
.bgWhite{ background-color:#fff; color:#333; box-sizing:border-box; border:#333 1px solid;}
.bgLight{ background-color:#ccc; color:#fff;}
.bgGrey{ background-color:#999; color:#fff;}
.bgRed,.bgRed:hover{ background-color:#e4393c; color:#fff;}
.bgOrange{ background-color:#ff7802; color:#fff;}

.colGrey{ border:#9f9f9f 1px solid; color:#9f9f9f; background-color:#fff;}
.colBlk{ border:#333 1px solid; color:#333;}
.colRed{ border:#e4393c 1px solid; color:#e4393c; background-color:#fff;}


/*间距*/
.mgT5{ margin-top:5px;}
.mgT10{ margin-top:10px;}
.mgT15{ margin-top:15px;}
.mgT20{ margin-top:20px;}
.mgT30{ margin-top:30px;}
.mgT40{ margin-top:40px;}
.mgL85{ margin-left:85px;}
.pdB5{ padding-bottom:5px;}
.pdB10{ padding-bottom:10px;}
.pdB15{ padding-bottom:15px;}
.pdB20{ padding-bottom:20px;}
.pd5{ padding:5px;}
.pd10{ padding:10px;}
.pd-5{ padding:0 5px;}
.pd-10{ padding:0 10px;}
.pd_5{ padding:5px 0;}
.pd_10{ padding:10px 0;}
.p_m10{ margin-top:10px; padding-bottom:10px;}


/*定位*/
.re{ position:relative;}
.ab{ position:absolute;}

.posL{ position:absolute; top:0; left:0; display:block;}
.posR{ position:absolute; top:0; right:0; display:block;}
.ab100{ position:absolute; top:0; left:0; width:100%; height:100%;}
.ab-100{ position:absolute; left:0; width:100%;}
.fixed{ position:fixed; left:0; width:100%;}

.lt1{ top:1px; left:1px;}
.rt1{ top:1px; right:1px;}
.btm0{ top:auto; bottom:0;}
.top0{ top:0; bottom:auto;}

.z9{ z-index:9;}
.z90{ z-index:90;}
.z99{ z-index:99;}
.z990{ z-index:990;}
.z999{ z-index:999;}


/*其他*/
.v{ overflow:visible;}
.over{ overflow:hidden; _zoom:1;}
.hide{ display:none;}
.hideIm{ display:none!important;}
.block{ display:block;}
.blockA a{ display:block;}
.cen{ text-align:center;}
.noTxt{ text-indent:-9999px;}
.noBr{ white-space:nowrap;}

.w100{ width:100%;}
.w8{ width:80%; margin:0 auto;}
.wCen{ margin-left:auto; margin-right:auto;}


/*css3*/
.e-{ display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; -o-text-overflow:ellipsis; _width:100%;} 
.t0{ opacity:0; -webkit-opacity:0; -khtml-opacity:0; -moz-opacity:0.6; filter:alpha(opacity=0);}
.t6{ opacity:0.6; -webkit-opacity:0.6; -khtml-opacity:0.6; -moz-opacity:0.6; filter:alpha(opacity=60);}
.t8{ opacity:0.8; -webkit-opacity:0.8; -khtml-opacity:0.8; -moz-opacity:0.8; filter:alpha(opacity=80);}
.yj4{ border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; -khtml-border-radius:4px;}
.yj5{ border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -khtml-border-radius:5px;}
.sd{ box-shadow:0 0 2px #d5d5d5; -webkit-box-shadow:0 0 2px #d5d5d5; -moz-box-shadow:0 0 2px #d5d5d5;}
.sdB{ box-shadow:1px 0 4px #aaa; -webkit-box-shadow:1px 0 4px #aaa; -moz-box-shadow:1px 0 4px #aaa;}
.sdRB{ box-shadow:1px 1px 4px #aaa; -webkit-box-shadow:1px 1px 4px #aaa; -moz-box-shadow:1px 1px 4px #aaa;}
.sdRB_in{ box-shadow:1px 1px 5px #aaa inset; -webkit-box-shadow:1px 1px 5px #aaa inset; -moz-box-shadow:1px 1px 5px #aaa inset;}
.sdTxt{ text-shadow:1px 1px #e5e5e5; -webkit-text-shadow:1px 1px #e5e5e5; -moz-text-shadow:1px 1px #e5e5e5;}

